{
  "extends": [
    "stylelint"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "env": {
    "jest": true
  },
  "globals": {
    "testRule": true,
  },
  "rules": {
    "arrow-spacing": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-const": 2,
    "sort-imports": 2,
    "template-curly-spacing": 2,
    "strict": ["error", "global"],
    "spaced-comment": 0
  }
}
