.coverage
.vscode
**/fixtures/**/*.css
**/fixtures/**/*.pcss
**/fixtures/**/*.postcss
**/fixtures/**/*.less
**/fixtures/**/*.scss
**/fixtures/**/*.sass
**/fixtures/**/*.sss
**/fixtures/**/*.vue
**/fixtures/**/*.html
**/fixtures/**/*.markdown
scripts/**/*.css
system-tests/**/*.css
system-tests/**/*.scss
# This unit test required a parent directory stucture and therefore is not inside /fixtures/globs
**/standalone-glob-parent-test/**/*.css
