.coverage
.vscode
**/fixtures/**/*.css
**/fixtures/**/*.pcss
**/fixtures/**/*.postcss
**/fixtures/**/*.less
**/fixtures/**/*.scss
**/fixtures/**/*.sass
**/fixtures/**/*.sss
**/fixtures/**/*.vue
**/fixtures/**/*.html
**/fixtures/**/*.markdown
lib/utils/parseCalcExpression/parser.js
scripts/**/*.css
system-tests/**/*.css
system-tests/**/*.scss
