{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md"
    }],
    "@semantic-release/github",
    ["@semantic-release/git", {
      "message": "${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    "@semantic-release/npm"
  ]
}
