# http://www.appveyor.com/docs/appveyor-yml

environment:
  matrix:
    - nodejs_version: 7

version: "{build}"
build: off
deploy: off

branches:
    only:
      - master

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version
  - npm --version
  - cmd: "npm run test:jest -- --runInBand --testPathPattern \\lib && npm run test:tape"
