a { @extend placeholder; }
a {} @media {}
@Charset 'UTF-8';
@media (min-width: 700px) and
  (orientation: landscape) {}
@media(min-width: 700px) {}
@unknown {}
@-webkit-keyframes { 0% { top: 0; } }
@import url("x.css"); @import url("y.css");
@media screen and (max-width: 1024px) {
  a { display: none; }
}
a {
  color: pink;
}
a { color: pink; }b { color: red; }
a { color: pink;}
a { color: pink; }b { color: red; }
a { color: pink;}
a {}
a { color: pink; }
a{ color: pink; }
a{ color: pink; }
a {color: pink; }
a{ color: pink; }
a { color: #FFF; }
a { color: #ffffff; }
a { color: #000; }
a { color: #000; }
a { color: #00; }
a {}
/* comment */
/**/
/*comment*/
/* TODO: */
@custom-media --bar (min-width: 30em);
a {
  top: 10px;
  --foo: pink;
  --bar: red;
}
a { --foo: 1px; }
:root { --boo-bar: 0; }
a { color: pink !important; }
a { color: pink!important; }
a { color: pink; color: orange; }
a { display: inline; width: 100px; }
a {
  margin-top: 1px;
  margin-right: 2px;
  margin-bottom: 3px;
  margin-left: 4px;
}
a {
  padding-left: 10px;
  padding: 20px;
}
a {
  top: 0;
  color: pink;
}
a { color: pink; top: 0; }
a { color: pink; }
a { color: pink;top: 0; }
a { color: pink; }
a { color: pink; top: 3px; }
a { color: pink }
a { color:pink; }
a { color :pink }
a { color: pink }
a {
  --foo: pink;
  top: 5px;
}
a { color: pink !important; }
a { font-size: 1em; }
a { font-size: 1.2rem; }
a { position: fixed; }
a { whitespace: pre; }
a { font-family: Arial, sans-serif; }
a { font-family: 'Times', Times, serif; }
a { font-weight: bold; }
a { transform: scale(1); }
a { top: calc(1px+2px); }
a { transform: translate(1,1) }
a { transform: translate(1,1) }
.foo { background: linear-gradient(top, #fff, #000); }
a {
  transform:
    translate(

      1,
      1
    );
}
a {
  width: Calc(5% - 10em);
}
a { transform: translate(1, 1); }
a { 
  background-image: url(image.gif) 
}
a { 
  background: url("//www.google.com/file.jpg"); 
}
@import url(foo.css);
a { background-image: url('http://www.example.com/file.jpg'); }
a { transform: rotate(1); }
a { transform: translate(1, 1)scale(3); }
@media print {
a {
background-position: top left,
top right;
}
}
a { top: 0px }
a {}



b {}
a { color: 0; top: 0; }
a {
  & .foo { /* 1 */
    &__foo { /* 2 */
      & > .bar {} /* 3 */
    }
  }
}
@media (max-width:600px) {}
@media (max-width:600px) {}
@media (max-width: 50em) {}
@media (MIN-WIDTH: 700px) {}
@media screen and (unknown) {}
@media (-webkit-min-device-pixel-ratio: 1) {}
@media (min-width: 50em) {}
@media (max-width 600px) {}
@media (max-width: 300px) {}
@media (max-width>=600px) {}
@media (max-width>=600px) {}
@media screen and (color), projection and (color) {}
@media screen and (color), projection and (color) {}
@media screen and (color),projection and (color) {}
@media screen and (color),projection and (color) {}
a { color/*\**/: pink\9; }
b a {}
a {}
.foo,
.bar,
.foo {}
a { color: pink; } 
@import "x.css";;
a { color: black; background: #010101; }
a { //color: pink; }
a { animation-name: fancy-slide; }
a { opacity: 0.5; }
a { line-height: .5; }
a { top: 3.245px; }
a { top: 1.0px }
a { text-rendering: optimizeLegibility; }
a {
  Width: 1px
}
a {
  colr: blue;
}
a { -webkit-transform: scale(1); }
a { color: pink; }
:root { color: pink; }
@media { a {} }
a {} b {}
[target] {}
[class*="test"] {}
[target=_blank] {}
[target=_blank] {}
[class*="test"] {}
[title=flower] {}
.foop {}
a +b { color: pink; }
a+ b { color: pink; }
.foo  .bar {}
#foop {}
a, b { color: pink; }
a, b { color: pink; }
a,b { color: pink; }
a,b { color: pink; }
.foo .bar .baz .lorem {}
a

b {
  color: red;
}
#foo {}
a {
  .bar {}
}
[foo] {}
a b { color: pink; }
{}
#foo {}
a.foo {
  margin: 0
}
a {}
* {}
input::-moz-placeholder {}
a:hover {}
a:Hover {}
a:unknown {}
input:not([type="submit"]) {}
a:focus {}
a:Before {}
a::before { color: pink; }
a::pseudo {}
a, :root {}
A {}
unknown {}
a { margin: 1px 1px; }
a {
  content: "first
    second";     
}  
a { content: "x"; }
a {
  /* stylelint-disable no-browser-hacks */
  _display: block;
  /* stylelint-enable no-browser-hacks */
}
a { animation: 80ms; }
a { width: 100px; }
a {
  width: 10PX;
}
a {
  width: 10pixels;
}
a { width: 100%; }
a {
  display: Block;
}
a { background-size: 0,0; }
a { background-size: 0,0; }
a { background-size: 0,0; }
a { background-size: 0,0; }
a {
  padding: 10px

    10px
    10px
    10px
}
a { display: -webkit-flex; }