a {
  @extend foo;
  color: pink;
  @extend bar;
}

@import url(x.css);

a {

  /* not a stylelint command */

  /* not a stylelint command */

  /* stylelint-disable color-no-hex */
  color: #eee;
  /* stylelint-disable color-named */
}

a {

  --foo: pink;

  --bar: red;
}

a {

  bottom: 15px;

  top: 5px;
}
@media {

  a {}

  b {}
}