name: CI

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

env:
  FORCE_COLOR: 2

permissions:
  contents: read

jobs:
  lint:
    uses: stylelint/.github/.github/workflows/call-lint.yml@ce9130c0ded2a1f42fdcb64a0f1f64dd20959795 # 0.5.1
    permissions:
      contents: read

  test:
    uses: stylelint/.github/.github/workflows/call-test.yml@ce9130c0ded2a1f42fdcb64a0f1f64dd20959795 # 0.5.1
    with:
      node-version: '["20", "22", "24"]'
      os: '["ubuntu-latest", "windows-latest", "macos-latest"]'
      exclude: '[{"node-version": "24", "os": "ubuntu-latest"}]' # for coverage
    permissions:
      contents: read

  test-coverage:
    name: Test on Node.js 24 and ubuntu-latest with coverage
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24'
          cache: npm

      - name: Install latest npm
        run: npm install --global npm

      - name: Install dependencies
        run: npm ci

      - name: Test with coverage
        run: npm run test-coverage
        env:
          # https://nodejs.org/api/cli.html#--max-old-space-sizesize-in-megabytes
          NODE_OPTIONS: '--max-old-space-size=4096'

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: ./.coverage/lcov.info
          fail_ci_if_error: true

      # This test is only enabled when the relevant environment variable is set,
      # so it is run here, separately from the main test matrix.
      - name: Run test for Yarn PnP
        run: |
          npm install --global corepack
          npm run test-node
        env:
          STYLELINT_TEST_YARN_PNP: 'true'
          YARN_ENABLE_HARDENED_MODE: 0 # https://yarnpkg.com/features/security#hardened-mode

  spellcheck:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install codespell
        run: pip install codespell

      - name: Spellcheck
        # Ignore a CI failure because there are false positives.
        run: codespell || echo 'Fix misspells via "codespell" on your console, or ignore false positives.'
