name: Linting

on:
  push:
    branches:
      - main
      - 'dependabot/**'
  pull_request:
    branches:
      - '**'

env:
  FORCE_COLOR: 2

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use LTS Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: npm

      - name: Install latest npm
        run: npm install --global npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run pretest
