name: CI

on:
  push:
    branches:
      - master
      - 'dependabot/**'
  pull_request:
    branches:
      - '**'

env:
  CI: true

jobs:
  lint:
    name: Lint on Node.js ${{ matrix.node-version }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [12]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm ci

    - name: Lint
      run: npm run pretest

  test:
    name: Test on Node.js ${{ matrix.node-version }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # change `8.16.2` to `8` when https://github.com/actions/setup-node/issues/27 is fixed
        node-version: [8.16.2, 10, 12]
        os: [ubuntu-latest, windows-latest, macos-latest]
        exclude:
          - os: ubuntu-latest
            node-version: 12

    steps:
    - uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm ci

    # Workaround until https://github.com/stylelint/stylelint/issues/4337 is fixed
    - name: Test (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        cd ..
        cd D:\a\stylelint\stylelint
        npm run jest

    - name: Test (Unix)
      if: matrix.os != 'windows-latest'
      run: npm run jest

  coverage:
    name: Coverage on Node.js ${{ matrix.node-version }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [12]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm ci

    - name: Test with coverage
      run: npm run jest -- --coverage

    - name: Coveralls Parallel
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel: true
        path-to-lcov: ./.coverage/lcov.info

    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true
