name: Publish to pkg.pr.new
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    tags: ['!**']

permissions:
  issues: write
  pull-requests: write

jobs:
  pkg-pr-new:
    if: github.repository == 'stylelint/stylelint'
    name: Publish to pkg.pr.new
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 'lts/*'
          cache: npm
      - name: Install Packages
        run: npm ci
      - name: Publish
        run: npx pkg-pr-new publish --compact --json output.json --comment=off
      - name: Add metadata to output
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require('fs');
            const output = JSON.parse(fs.readFileSync('output.json', 'utf8'));
            output.number = context.issue.number;
            output.event_name = context.eventName;
            output.ref = context.ref;
            output.sha = context.eventName === 'pull_request'
              ? context.payload.pull_request.head.sha
              : context.payload.after;
            fs.writeFileSync('output.json', JSON.stringify(output), 'utf8');
      - name: Upload output
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: output
          path: ./output.json

      - run: ls -R .
