name: Releasing

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    if: github.repository == 'stylelint/stylelint' # Workaround. See https://github.com/changesets/action/issues/4
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Set up Node.js LTS
        uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'
          cache: npm

      - name: Install latest npm
        run: npm install --global npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Get changeset status
        id: get-changeset-status
        run: |
          npx changeset status --output .changeset/status.json
          new_version=$(jq -r '.releases[0].newVersion' < .changeset/status.json)
          rm -v .changeset/status.json
          echo "new-version=${new_version}" >> "$GITHUB_OUTPUT"

      - name: Create release pull request
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          commit: Prepare ${{ steps.get-changeset-status.outputs.new-version }}
          title: Prepare ${{ steps.get-changeset-status.outputs.new-version }}
          version: npm run changeset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
