name: Release

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  release:
    uses: stylelint/.github/.github/workflows/call-release.yml@60889da59f384526b8185d2aa85b35620aa6bcc0 # 0.6.0
    permissions:
      contents: write
      id-token: write
