name: Release

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  release:
    uses: stylelint/.github/.github/workflows/call-release.yml@2844df54744d5b95507c6df844b1422478dd3cc1 # 0.5.0
    permissions:
      contents: write
      id-token: write
