name: Testing

on:
  push:
    branches:
      - main
      - 'dependabot/**'
  pull_request:
    branches:
      - '**'

env:
  FORCE_COLOR: 2

jobs:
  test:
    name: Test on Node.js ${{ matrix.node }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node: [12, 14, 16]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - name: Install latest npm
        run: npm install --global npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run jest
        if: "!(startsWith(matrix.os, 'ubuntu') && matrix.node == 16)"

      - name: Test with coverage
        run: npm run jest -- --coverage
        if: startsWith(matrix.os, 'ubuntu') && matrix.node == 16

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        if: startsWith(matrix.os, 'ubuntu') && matrix.node == 16
        with:
          files: ./.coverage/lcov.info
